.input {
    border-radius: 5px;
    padding: 0.5rem 0.5rem;
    border: 1px solid #afafaf;
  width: 100%;
&_primary {
     background-color: transparent;
     border: 1px dotted greenyellow;
     color: white;
 }
&_default {
  color: black;
  font-size: 12px;
  margin: 0;
 }
}